*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    color:#ededed;
    background: #081b29 !important;
}

.header{
    position:fixed;
    top: 0;
    /* left: 0; */
    /* right: ; */
    width: 100%;
    padding:20px 100px;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position:relative;
    font-size:25px;
    color: #fff;
    text-decoration:none;
    font-weight: 600;
    cursor: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.navbar a:hover{
    color: #0ef

}

.home{
    margin-top: 0.9rem;
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #081b29;
    /* background: url() no-repeat; */
    background-size: cover;
    background-position: center;
    padding: 60px 10% 0;

}

.home-content {
    max-width:600px
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color: #0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin:-3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}

.home-sci a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color:#0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 15px 15px 30px 0;
}

.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius:40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-sizing: 0 0 5px #0ef,
    0 0 25px #0ef;

}

.btn-box:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan 
}


.jumbotron-box {
	/* margin-top: 0px; */
	/* width: 100%; */
	transition: 1s;
}

.jumbotron-box.notload {
	transform: translateY(50%);
	opacity: 0%;
}

.jumbotron {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row-reverse;
	margin: 0 auto;
}

.jumbotron-item {
	text-align: center;
	transition: 1s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.jumbotron-item:nth-child(2) {
	max-width: 400px;
}

.jumbotron-item.notload:nth-child(1) {
	transform: translateX(50%);
	opacity: 0%;
}

.jumbotron-item.notload:nth-child(2) {
	transform: translateX(-50%);
	opacity: 0%;
}

.jumbotron-item img {
	width: 300px;
	height: 300px;
	border-radius: 100%;
	animation: borderpop 5s infinite;
}



.about{
    /* background-color: black; */
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;

    /* margin-top: 1rem; */
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 60px 10% 0;
    
    /* background-color: #081b29; */
    /* background: url() no-repeat; */
}

/* .about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
} */

.about-text h2{
    font-size: 60px;
}

.about-text h2 span{
    color: #0ef;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height:1.4;
    margin-bottom: 4rem;
}

#services{
    background-color: #081b29;
    color: black;
    font-size: 20px;
    line-height: 1.4;
    /* margin-bottom: 1rem; */
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 60px;
}

.sub-title span{
    color: #0ef;
}

.container{
    padding: 90px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 45px;
}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 20px #0053b8f7;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-sizing: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.read:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan 
}

.services-list div:hover{
    transform: translateY(-10px);
}



.main2 {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.skills {
	display: block;
	min-height: 100vh;
	background-color: #081b29;
}

.skills .container1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skills .container1 .skill {
    background: #0ef;
    border-radius:40px;
    font-size: 16px;
    color: #081b29;
    /* letter-spacing: 1px;
    text-decoration: none; */
    font-weight: 600;
    /* opacity: 0; */
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-sizing: 0 0 5px #0ef,
    0 0 25px #0ef;
	margin: 20px;
	padding: 20px 30px;
	cursor: pointer;
}

.skills .container1 .skill:hover {
	font-size: 20px;
	animation: shake 0.5s;
    box-shadow:0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan 
}

.skills .skills-t {
    margin-top: 50px;
	text-align: center;
	color: #0ef;
	margin-bottom: 0px;
	font-weight: bold;
}

.skills .skills-t::after {
	content: "";
	display: block;
	border-bottom: 4px solid black;
	width: 50px;
	margin: 0 auto;
}



.main3 {
	display: block;
	min-height: 100vh;
}

.main3 h1 {
	text-align: center;
}

.main3 h1::after {
	content: "";
	display: block;
	border-bottom: 4px solid white;
	width: 80px;
	margin: 10px auto;
}

.main3 p {
    margin-top: 50px;
	text-align: center;
	font-size: 20px;
	max-width: 900px;
	margin: 0 auto;
}

.projects {
    justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	margin-top: 0px;
}

.projects .project {
	margin: 10px 0px;
	padding: 10px;
}

.projects .project img {
    width: 100%;
	max-width: 600px;
	border-radius: 16px;
	/* max-width: 100%; */
	/* border-radius: 10px; */
	object-fit: cover;
}

.projects .project img:hover {
	transform: scale(1.1);
}

.project .buttons {
	display: flex;
	justify-content: right;
}

.project .buttons button {
    padding: 12px 28px;
    background: #0ef;
    border-radius:40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-sizing: 0 0 5px #0ef,
    0 0 25px #0ef;
	margin: 10px;
}

.project .buttons button:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan 
}

.main4 p {
    margin-top: 50px;
	text-align: center;
	font-size: 20px;
	max-width: 900px;
	margin: 0 auto;
}

.main5 {
	display: flex;
	flex-direction: column;
}

.certificates {
	display: flex;
	min-height: 100vh;
	/* background-color: #0099ff; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.certificates h1 {
	margin-bottom: 30px;
	color: black;
}

.certificates h1::after {
	content: "";
	display: block;
	border-bottom: 4px solid black;
	max-width: 50px;
	margin: 10px auto;
}

.certificate img {
	width: 100%;
	max-width: 600px;
	border-radius: 16px;
}

.certificate img:hover {
	transform: scale(1.1);
}

.certificates .certificate {
	margin: 20px;
}

@keyframes shake {
	0% {
		transform: translate(0px, 0px);
	}
	20% {
		transform: translate(3px, -1px);
	}
	40% {
		transform: translate(-6px, -1px);
	}
	60% {
		transform: translate(6px, 1px);
	}
	80% {
		transform: translate(-6px, 1px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes loadinganimate {
	0% {
		opacity: 0%;
		width: 30px;
		height: 30px;
	}
	50% {
		opacity: 100%;
/*		width: 100px;
		height: 100px;*/
	}
	100% {
		opacity: 0%;
		width: 120px;
		height: 120px;		
	}
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@media (max-width: 992px) {
	.jumbotron-box {
		margin-top: 0px;
	}

	.sosmed {
		margin-top: 20px;
	}

	.jumbotron {
		flex-direction: column;
	}

	.jumbotron-item img {
		width: 200px;
		margin-bottom: 40px;
		animation: none;
	}

	.navs ul {
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		/* background-color: var(--primary); */
		width: 100vw;
		height: 100vh;
		z-index: 10;
		align-items: center;
		justify-content: center;
		transform: translateX(110%);
	}

	.navs ul li {
		margin: 10px;
	}

	.navs ul li a {
		font-size: 18px;
	}

	.navs ul.on {
		transform: translateX(0%);
	}

	.navbar-toggler {
		display: block;
	}

	.jumbotron-item.notload:nth-child(1) {
		transform: translateY(-50%);
		opacity: 0%;
	}

	.jumbotron-item.notload:nth-child(2) {
		transform: translateY(50%);
		opacity: 0%;
	}

	.project p {
		font-size: 16px;
	}

	.project .buttons {
		justify-content: center;
	}
}

@keyframes borderpop {
	0% {
		border: 10px solid black;
		transform: scale(1);
	}
	50% {
		border: 10px solid white;
		transform: scale(1.1);
	}
	100% {
		border: 10px solid black;
		transform: scale(1);
	}
}
/*  

section{
    display: flex;
    flex-wrap: wrap;
}

.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar{
    font-size: 23px;
}

.Technical-bars .bar{
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child{
    margin-top: 0;
}

.Technical-bars .bar:last-child{
    margin-top: 0;
}

.Technical-bars .bar .info{
    margin-bottom: 5px;
}

.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(1);
    transform-origin: left;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}


.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.python span{
    width: 90%;
}

.progress-line.sql span{
    width: 60%;
}
.progress-line.html span{
    width: 85%;
}

.progress-line.css span{
    width: 50%;
}

.progress-line.javascript span{
    width: 75%;
}

.progress-line span::after
 */





@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }

}